HTTP_PROXY="{{ proxy_env.HTTP_PROXY }}"
HTTPS_PROXY="{{ proxy_env.HTTPS_PROXY }}"
NO_PROXY="{{ proxy_env.NO_PROXY }}"
{% if k3s_token is defined %}
K3S_TOKEN="{{ k3s_token }}"
{% endif %}
{% if k3s_url is defined %}
K3S_URL="{{ k3s_url }}"
{% endif %}
{% if k3s_agent_args is defined %}
K3S_AGENT_ARGS="{{ k3s_agent_args }}"
{% endif %}
