mirrors:
  docker.io:
    endpoint:
      - "https://docker.m.daocloud.io"
      - "https://mirror.baidubce.com"
      - "https://dockerproxy.com"
      - "https://docker.nju.edu.cn"
      - "https://registry-1.docker.io"
